*
{
    margin: 0;
    padding: 0;
}

.article_pokemons
{
    justify-content: center;
}

.cards_pokemon
{
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

.cards_pokemon:hover
{
    transform : scale(1.1);
    -webkit-transform : scale(1.1);
}

.bg-violeta
{
    background-color: rgb(118, 83, 150);
}

.bg-rosa
{
    background-color: rgb(247, 116, 181);
}

.bg-claro
{
    background-color: bisque;
}

.div-flex
{
    display: flex;
    flex-direction: row;
}